div.ant-card-head-title {
  color: rgb(97, 1, 97);
}
  
  .ant-statistic {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 2px solid rgb(97, 1, 97); */
    height: 65px;
}



.ant-statistic-title {
  font-size: 18px;
  /* font-weight: 200; */
  font-weight: bold; 
}